header {
    background: #DAFFEB;
    margin-bottom: 25px;
}

header .page-title {
    font-weight: lighter;
    padding: 40px 0;
    color: #f39100;
}

.content p {
    word-break: break-all;
}

.alert {
    margin: 25px 0 10px 0;
}

footer {
    padding: 10px 35px;
    background-color: #FAFAFA;
    margin-top: 20px;
    border-top: 1px solid #EEE;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.75);
}

#loading img {
    margin: auto;
    display: block;
}
