html {
    position: relative;
    min-height: 100%;
}

header {
    background: #DAFFEB;
    margin-bottom: 25px;
}

header .page-title {
    font-weight: lighter;
    padding: 40px 0;
    color: #f39100;
}

h3 {
    margin-bottom: 40px;
}

.content {
    margin-top: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 15px 40px;
}
